@media screen and (max-width: 768px) {
  body {
    min-width: 500px;
  }
  .page {
    width: 100vw;
  }

  header {
    text-align: center;
    width: 100%;
  }

  input {
    width: 100%;
  }

  .three-col {
    display: block;
    width: 200px;
    margin: auto;
  }

  footer {
    margin-bottom: 0px;
  }
}
